@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

.row{
	min-height:460px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #535353;
}
footer {
clear: both;
position: relative;
left: 0;
bottom: 0;
width: 100%;
background-color: #333;
height: 60px;
color: #ffffff;
text-align: center;
padding: 5px;
}
.sicon{
font-size:50px;
color:white;	
padding:5px;
}

input[type=text], [type=email], [type=number], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #f8f8f8;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
} 

/* Responsive Image */
img {
 height: auto;
 max-width: 100%;
 margin:0 auto;
}
#video-container {
    height: 60vh;
    overflow: hidden;
    position: relative;
}

#video {
    opacity: 0.8;
}

#text-over-video {
    z-index: 9999;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.651);
    padding: 14px;
    border-radius:15px 0 15px 0;
}

 
a{
    color:#ff3939;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #000000, #414141);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

 ul a {
    /* display: block; */
    color: white;
    text-align: center;
    text-decoration: none;
}

li{
    max-width:200px ;
    margin:5px;
    padding: 5px;
    text-align: center;
    border-radius: 15px 0 15px 0;
}

.menu-item:hover {
    background-color: #535353;
    
}

#video-container {
    /* height: 70vh; */
    overflow: hidden;
    position: relative;
}

#video {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

#text-over-video {
    z-index: 9999;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.651);
    padding: 14px;
    border-radius:15px 0 15px 0;
}

#footer{
    margin: 5px 0 0 0;
    background-color: #000;
    width: 100%;
}

#footer-wrapper{
    margin:0 10px 10px 10px;
}

#footer-company{
    color: #fff;
    padding: 20px 0 20px 0;
}
#collum-main{
 display: flex;
 color:#fff;
}

.collum-item{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin:10px;
}

.footer-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

i{
    margin-right:10px;
}

.footer-menu li{
text-align: left;
}

.footer-menu-title{
    text-align: left;
}

.footer-menu li:hover{
    color:#000000;
    border-left:4px solid  #ff1616;
    border-radius: 0px 10px 0 10px;
    background-color:#ffffff;
    animation-name: test;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes test{
    0%{
        color:#fff;
    }
    100%{
        color:#ff1616;
    }
}

#social-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid #ffffff;
    width: 80%;
    padding: 12px;
    border-radius: 4px;
}

#social-wrapper h4{   
    margin-right: 10px;
}

#social-wrapper a{
    color:#fff;
}

#social-wrapper a:hover{
    color:#79a4f5;
}

#copyright{
    display: flex;
    justify-content: center;
    color:#fff;
    text-align: center;
    margin: 10px;
    border-top:1px solid #fff;
    padding: 5px;
}

#validator{
    max-height: 20px;
    margin-left: 20px;
}

#content{
    margin:10px;
}

#gallery-small{
  display: grid;
  grid-column-gap: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(8,1fr);
  padding: 10px;
}

#gallery-small a{
    width: 100%;
    grid-column:8 ;
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: #000000;
    background-color: aliceblue;
    border-radius: 0 10px 0 10px;
    border-left:4px solid  #000000;
}

#gallery-small a:hover{
    color:#000000;
    border-left:4px solid  #ff1616;
    background-color:#ffffff;
    animation-name: test;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.image-home{
    width:100%;
    height: 100%;
}

.image-container{
    position: relative;
    text-align: center;
    color: white
}

i{
    width: 20px;
}

#slider-wrapper{
    width: 100%;
    height: 100%;
}

.mySlides{
    opacity: 0.8;
    width: 100%;
    max-height: 600px;
    transition: ease;
}

#text-col-wrapper p{
    margin: 10px;   
}

#gallery-food{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
}

#gallery-food img:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/3;
}

#gallery-food img:nth-child(6){
    grid-column: 3/4;
    grid-row: 2/3;
}

#gallery-food img:nth-child(7){
    grid-column: 2/3;
    grid-row: 2/3;
}

#gallery-food img:nth-child(11){
    grid-column: 1/4;
    grid-row: 3/4;
}

#gallery-food img:nth-child(9){
    grid-column: 1/2;
    grid-row: 7/8;
}

#gallery-food img:nth-child(10){
    grid-column: 2/3;
    grid-row: 7/8;
}

#gallery-food img:nth-child(12){
    grid-column: 3/4;
    grid-row: 7/8;
}

#gallery-food img:nth-child(8){
    grid-column: 1/4;
    grid-row: 1/2;
    
}

#gallery-food img:nth-child(15){
    grid-column: 1/4;
    
}

.image-food{
    width: 100%;
}

#mobile-menu-wrapper{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 5px 5px 0;
}

#mobile-menu{
display: flex;
flex-direction: column;
border:2px solid #fff;
padding: 2px;
border-radius: 4px;
}

#mobile-menu div{
    margin: 2px;
    width: 22px;
    height: 4px;
    background-color: #fff;
}

#mobile-menu-wrapper{
    display: none;
}


#booking-wrapper{
    /* width: 80%; */
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
    overflow: hidden;
}

.collum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#booking-wrapper form{
    padding: 20px;
}


@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 960px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/* Media queries for smaller screens */
@media only screen and (max-width: 375px) {   
    body{
        font-size: 12px;
    }

    #mobile-menu-wrapper{
        display: flex;
    }
    #main-menu{
        display: none;
    }
    #main-menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    
    #video-container{
        height: 100%;
    }

    .collum{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .collum input, .collum select{
        margin: 0 0 10px 0;
    }

    #gallery-small{
        display: flex;
        flex-direction: row;
    }

    .image-home:nth-child(5),
    .image-home:nth-child(6),
    .image-home:nth-child(7),
    .image-home:nth-child(4){
        display: none;
    }
    
    #footer-company{
        text-align: center;
    }
    
    #collum-main{
     display: flex;
     flex-direction: column;
    }
    
    .collum-item{
        display: flex;
        align-items: center;
        width: 95%;
        margin:10px;
    }
    
    .footer-menu-title{
        display: none;
    }
}

/* querie for tablets and Ipads */
@media only screen and (min-width: 376px) and (max-width:768px) {   
    body{
        font-size: 15px;
    }

    #mobile-menu-wrapper{
        display: flex;
    }

    #main-menu{
        display: none;
    }
    #main-menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    
    .collum{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-gap:5px;
    }
    
    .collum input[type=date]{
        max-width: 150px;
    }

    .collum select{
        max-width: 50px;
    }

    .collum input[type=submit]{
        max-width: 100px;
    }

    #booking-wrapper form{
        padding: 5px;
    }
    
    #video-container{
        height: 100%;
    }

    #gallery-food{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image-food{
        width: 48%; 
    }

}